.rag-green {
    background-color: #33cc3344;
  }
  .rag-yellow {
    background-color: #ffff0044;
  }
  .rag-orange {
    background-color: #ff990044;
  }
  .rag-red {
    background-color: #cc222244;
  }
  